doctype html
html
 head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/master-v2.css", media="screen", title="no title", charset="utf-8")
  link(rel="icon", type="image/x-icon", href="img/favicon.ico")
  title home page
 body
   script(type="application/javascript", src="http://code.jquery.com/jquery-2.1.4.min.js")
   .header
     li: img(src="img/menu.png", alt="menu", width="30px", height="30px").menu
     ul
       li: a(href="#home") home
       li: a(href="#about_me") about me
       li: a(href="#gallery") gallery
       li: a(href="#contact_me") contact me
   .hero
     h1 One’s destination is never a place, but a new way of seeing things.
     a(href=""): img(src="img/down-arrows11.svg", alt="arrow-down")
   .urban
     p 
     h1 urban sunrise
    script(type="application/javascript", src="js/script.js")
      
    
